/* 카드 자동 슬라이더 효과 */
.slider {
  height: 450px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(300px * 20); /* 슬라이드를 두 번 복제하여 무한 루프 구현 */
  transition: transform 1s linear;
}

.slide {
  height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.train-card {
  width: 100%;
  transition: transform 0.5s;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 카드에 마우스를 올리면 약간 튀어나오도록 합니다 */
.train-card:hover {
  transform: translateZ(18px);
}

/* 슬라이더 그라데이션 그림자 */
.slider::before,
.slider::after {
  background: linear-gradient(to right, #f6f4f2 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
