
/*본인이 설정하고 싶은 폰트 import하기*/
@import url("https://webfontworld.github.io/amore/AritaBuri.css");

@font-face {
  font-family: "GangwonEduHyeonokT_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff")
    format("woff");
}
/*폰트 설정예시*/
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="buri"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="buri"]::before {
  content: "Buri";
  font-family: "AritaBuri";
}
.ql-font-buri {
  font-family: "AritaBuri";
}

#toolbar {
  background-color: #c4c4c4;
}

@font-face { 
  font-family: "할아버지의나눔";
  src: url("../../public/할아버지의나눔.ttf") format("truetype");
} 
.ql-font-할아버지의나눔 {
  font-family: "할아버지의나눔";
}

@font-face { 
  font-family: "끄트머리체";
  src: url("../../public/끄트머리체.ttf") format("truetype");
}
.ql-font-끄트머리체 {
  font-family: "끄트머리체";
}

@font-face { 
  font-family: "나눔고딕";
  src: url("../../public/NanumGothic.ttf") format("truetype");
}
.ql-font-나눔고딕 {
  font-family: "나눔고딕";
}

@font-face { 
  font-family: "궁서체";
  src: url("../../public/ChosunGs.TTF") format("truetype");
}
.ql-font-궁서체 {
  font-family: "궁서체";
}

@font-face { 
  font-family: "굴림체";
  src: url("../../public/ChosunGu.TTF") format("truetype");
}
.ql-font-굴림체 {
  font-family: "굴림체";
}

@font-face { 
  font-family: "바탕체";
  src: url("../../public/HCRBatang.ttf") format("truetype");
}
.ql-font-바탕체 {
  font-family: "바탕체";
}

@font-face { 
  font-family: "돋움체";
  src: url("../../public/HCRDotum.ttf") format("truetype");
}
.ql-font-돋움체 {
  font-family: "돋움체";
}

@font-face { 
  font-family: "Quill";
  src: url("../../public/Quill.ttf") format("truetype");
}

.ql-font-Quill {
  font-family: "Quill";
}

/* 에디터 양식 */
.ql-editor{ 
  min-height: 500px !important;
  max-height: 800px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

.text-editor {
    margin-bottom: 150px;
}

.text-editor > Button {
  margin-top: 30px;
}

.threeD-model {
  max-width: 100%; /* 캔버스의 최대 너비를 100%로 설정 */
  height: auto; /* 높이를 자동으로 설정하여 비율 유지 */
  margin-top: 30px;
  border: 5px solid black; /* 검은색 테두리 추가 */
  border-radius: 10px; /* 선택 사항: 모서리를 둥글게 처리 */
  
  display: block; /* canvas 요소의 기본 블록 속성 */
}

.threeD-Model-h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.canvas-container {
  position: relative; /* 자식 요소의 절대 위치를 설정하기 위해 필요 */

}

#information {
  position: absolute; /* 절대 위치 지정 */
  top: 10px; /* 원하는 위치로 조정 */
  left: 10px; /* 원하는 위치로 조정 */
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-height: 700px; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 추가 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}

.quill-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quill-title {
  background-color: #eee;
  border: none;
  padding: 12px 0 12px 5px;
  margin: 8px 0 8px 0;
  width: 100%; /* 캔버스의 최대 너비를 100%로 설정 */
}