.MyPage {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}

.MyPage h1 {
  font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 800;
    color: #222;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.MyPage_No1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.MyPage_Inf,
.MyPage_Change_Password {
  flex-basis: 45%;
  padding: 10rem; /* 요소 내부 여백 추가 */
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 100px;
  width: 500px;
  height: 500px;
  display: flex; /* 추가 */
  flex-direction: column; /* 추가 */
  align-items: center;
  border-radius: 10px;
  margin-bottom: 50px;
}

@font-face { 
  font-family: "Quill";
  src: url("../../public/Quill.ttf") format("truetype");
}

.MyPage_Inf h2 {
  font-family: "Quill";
  margin-top: 0;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.MyPage_Inf dt {
  font-weight: bold;
  margin-top: 10px;
}

.MyPage_Inf dd {
  margin-left: 0;
  margin-top: 5px;
}

.MyPage_Change_Password h2 {
  font-family: "Quill";
  margin-top: 0;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.MyPage_Change_Password button {
  background-color: rgb(211, 211, 211);
  padding: 10px 20px; /* 버튼 스타일 추가 */
  border-radius: 5px; /* 버튼 스타일 추가 */
  cursor: pointer; /* 버튼 스타일 추가 */
}
a {
  text-decoration: none;
  color: inherit;
}