nav{  
  float:center;   
  width:1473px;    
  height:100px;   
  padding-top:40px;  
}
#topMenu {  
  background-color : rgb(211, 211, 211);
  height:60px; 
}
#topMenu > li {
  float:left;  
  position: relative;  
  list-style-type: none; /* ul 점없에기 */
}
#topMenu > li > .navbar{
  font-size: 1.1rem;
  display:block;  
  color:#fff;  
  font-weight:600;   
  padding:15px 80px; 
  text-decoration: none /* Link 줄 없에기 */
}
#topMenu > li > .button{ /* 작업하던거 */
  background-color:rgb(104, 103, 103);
  border: none;
  font-size: 17px;
  display:block;  
  color:#292828;  
  font-weight:600;   
  padding:15px 80px; 
}
#topMenu > li > .navbar > span {
  font-size : 1.1rem;   
}
#topMenu > li > .navbar:hover {
  color:  black;  
}
#topMenu > li > .navbar::before{
  content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #9b50cc;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}
#topMenu > li > .navbar:hover::before{
  visibility: visible;
    width: 100%;
}


#topMenu > li > ul { 
  display: none;  
  position:absolute;  
  width:180px;
  background:rgb(221, 218, 218);  
  left:50px;     
  margin:0;
}
#topMenu > li > ul > li {    
  padding:10px 10px 10px 0px;   
  list-style-type: none; 
}
#topMenu > li > ul > li > .navbar_ { 
  font-weight:400;   
  font-size:16px;   
  padding:10px;
  color:#000;  
  text-decoration: none /* Link 줄 없에기 */
}
#topMenu > li:hover > ul {
  display: block;  
  z-index:10;  
}
#topMenu > li > ul > li > .navbar_:hover {
  color: #9b50cc;  
} 