.slideShow {   
  clear: both;   /* 플로팅 해제 */
  width: 100%;   /* 슬라이드쇼 너비를 100%로 설정 */
  max-width: 1000px;  /* 최대 너비를 1473px로 설정 */
  height: 200px;   /* 높이 */
  text-align: center;
  position: relative; /* 자식 요소의 위치를 기준으로 하기 위해 상대적 위치 지정 */
  margin: 0 auto;  /* 슬라이드쇼를 화면 중앙으로 정렬 */
  padding-top: 20px;
}

.slides {
  position: relative; 
  width: 100%;
  height: 100%;
}

.slides > img {
  width: 100%;  /* 슬라이드 이미지 너비 */
  height: 100%;  /* 슬라이드 이미지 높이 */
}

.buttons {
  position: absolute;
  bottom: 20px; /* 슬라이드쇼 하단에서 20px 위로 */
  left: 50%;
  transform: translateX(-50%); /* 버튼들을 중앙에 정렬 */
  display: flex;
  gap: 10px; /* 버튼 사이 간격 */
}

.buttons button {
  width: 10px; /* 버튼 크기 */
  height: 10px;
  border-radius: 50%;
  background-color: grey; /* 버튼 배경색 */
  border: none;
  cursor: pointer;
}

.buttons button:hover {
  background-color: black; /* 호버 시 버튼 배경색 */
}

.buttons button.active {
  background-color: black; /* 활성화된 버튼 배경색 */
}
